# Text Questions

1. What are data structures, and why are they important?

- Data structures are methods of data storage and organization within a computer in a way that it can be accessed and utilized effectively. They are important as they facilitate effective data management and retrieval, which is important to the performance of algorithms and software programs.

2. Explain the difference between mutable and immutable data types with examples.

- Mutable data types are modifiable once they are declared. Examples include lists and dictionaries. Immutable data types cannot be modified once they are declared. Examples include strings and tuples.

3. What are the main differences between lists and tuples in Python?

- Lists are mutable, i.e., their contents can be changed after they are defined, while tuples are immutable, i.e., their contents cannot be changed after they are defined. Lists are defined in square brackets, while tuples are defined in parentheses ().

4. Describe how dictionaries store data.
- Dictionaries store values in key-value pairs. All keys are unique and are utilized to fetch the value associated with it.

5. Why might you use a set instead of a list in Python?

- We would use a set over a list in Python should we wish to hold a group of variously different elements when we require testing for membership, union, or intersection in some efficient manner. Sets eliminate duplicates automatically.

6. What is a string in Python, and how is it different from a list?
- In Python, a string is an array of characters. Strings cannot change, whereas lists can change. Strings are used to hold text, whereas lists hold a list of elements of any data type.

7. How do tuples ensure data integrity in Python?

- Tuples ensure data integrity in Python since they are immutable. That is, after you have declared a tuple, its members cannot be added, changed, or removed, and therefore any unintended modifications to data cannot be done.

8. What is a hash table, and how does it relate to dictionaries in Python?

- A hash table is an array data structure containing key-value pairs that uses a hash function to select an index into an array of buckets or slots, from which the desired value can be retrieved. Python dictionaries are implemented as hash tables, providing efficient data access by keys.

9. Can lists contain different data types in Python?

-
Yes, Python lists can contain elements of different data types.

10. Explain why strings are immutable in Python.

- Strings in Python are immutable because it makes memory management easier. When we create a string, memory space is allocated to it, and if strings were mutable, modifying a string value would mean a reallocation of memory, which is inefficient. Immutability prevents that.

11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries are better than lists for operations like searching, insertion, or deletion of an element by a key. Dictionaries offer quicker retrieval of data through keys than lists, where you might end up traversing the list in order to obtain an element.

12. Describe a scenario where using a tuple would be preferable over a list.



- A tuple would be preferable to a list if you're dealing with a list of things that must never be changed, such as when you're establishing a set of values that are fixed like coordinates (x, y) or configuration settings.

13. How do sets handle duplicate values in Python?

- Python sets automatically discard duplicate values. If we attempt to add a duplicate value to a set, it will be ignored.

14. How does the “in” keyword work differently for lists and dictionaries?
- For lists, the "in" keyword does a linear search down the list for membership, which will be slow for large lists. For dictionaries, the "in" keyword tests if a key is in the dictionary's keys, which will be very fast because dictionaries implement hash tables to do efficient key lookups.

15. Can you modify the elements of a tuple? Explain why or why not.
- No, we cannot modify the elements of a tuple. Tuples cannot be modified, and we cannot modify the elements after we have declared the tuple.

16. What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary containing dictionary values. One example is to create a sophisticated data structure, for instance, a configuration with various sections and sub-sections.

17. Describe the time complexity of accessing elements in a dictionary.
- The general time complexity to access elements of a dictionary is O(1), i.e., constant time, irrespective of the dictionary size, because of the implementation using hash tables.

18. In what situations are lists preferred over dictionaries?
- Lists are superior to dictionaries when we must maintain a sorted list of objects, and where the position of the objects is important. Lists are superior when we don't have to access elements by key but by where they are in the sequence.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries are not sorted because the insertion order of the elements is not necessarily the same as the order. This is due to the fact that dictionaries employ hash tables to hold elements, where elements are accessed by their hash values rather than by insertion order. Dictionary data retrieval is therefore key-based, not position-based.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
- In a list, data retrieval is always done by searching elements by their index, and it's slow if you want to look up for a specific value. In a dictionary, data retrieval is by the use of keys, and it's very efficient because hash tables are used.

# Practical Questions

In [2]:
#1. Write a code to create a string with your name and print it.

my_name = "Abhinab Singha"
print(my_name)

Abhinab Singha

In [3]:
#2. Write a code to find the length of the string “Hello World”.

my_string = "Hello World"
length = len(my_string)
print(length)

11

In [4]:
#3. Write a code to slice the first 3 characters from the string “Python Programming”.

my_string = "Python Programming"
sliced_string = my_string[:3]
print(sliced_string)

Pyt

In [5]:
#4. Write a code to convert the string “hello” to uppercase.

my_string = "hello"
uppercase_string = my_string.upper()
print(uppercase_string)

HELLO

In [6]:
#5. Write a code to replace the word “apple” with “orange” in the string “I like apple”.

my_string = "I like apple"
new_string = my_string.replace("apple", "orange")
print(new_string)

I like orange

In [7]:
#6. Write a code to create a list with numbers 1 to 5 and print it.

my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [8]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].

my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [9]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [10]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

In [11]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].

my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [12]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [13]:
#12. Write a code to access the second-to-last element of the tuple (‘red’, ‘green’, ‘blue’, ‘yellow’).

my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last = my_tuple[-2]
print(second_to_last)

blue

In [14]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

my_tuple = (10, 20, 5, 15)
min_number = min(my_tuple)
print(min_number)

5

In [15]:
#14. Write a code to find the index of the element “cat” in the tuple (‘dog’, ‘cat’, ‘rabbit’).

my_tuple = ('dog', 'cat', 'rabbit')
index_cat = my_tuple.index('cat')
print(index_cat)

1

In [16]:
#15. Write a code to create a tuple containing three different fruits and check if “kiwi” is in it.

my_tuple = ('apple', 'banana', 'orange')
is_kiwi_in = "kiwi" in my_tuple
print(is_kiwi_in)

False

In [19]:
#16. Write a code to create a set with the elements ‘a’, ‘b’, ‘c’ and print it.

my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'c', 'a'}

In [21]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [22]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [23]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [24]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [26]:
#21. Write a code to create a dictionary with the keys “name”, “age”, and “city”, and print it.

my_dict = {"name": "Abhinab", "age": 24, "city": "Siliguri"}
print(my_dict)

{'name': 'Abhinab', 'age': 24, 'city': 'Siliguri'}

In [27]:
#22. Write a code to add a new key-value pair “country”: “USA” to the dictionary {‘name’: ‘John’, ‘age’: 25}.

my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [28]:
#23. Write a code to access the value associated with the key “name” in the dictionary {‘name’: ‘Alice’, ‘age’: 30}.

my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict["name"]
print(name_value)

Alice

In [29]:
#24. Write a code to remove the key “age” from the dictionary {‘name’: ‘Bob’, ‘age’: 22, ‘city’: ‘New York’}.

my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
my_dict.pop("age")
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [30]:
#25. Write a code to check if the key “city” exists in the dictionary {‘name’: ‘Alice’, ‘city’: ‘Paris’}.

my_dict = {'name': 'Alice', 'city': 'Paris'}
city_exists = "city" in my_dict
print(city_exists)

True

In [31]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 7, "b": 8, "c": 9}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'a': 7, 'b': 8, 'c': 9}

In [38]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[33, 40, 63, 64, 95]

In [39]:
#28. Write a code to create a list with strings and print the element at the third index.

my_list = ["apple", "banana", "orange", "grape"]
third_element = my_list[2]
print(third_element)

orange

In [40]:
#29. Write a code to combine two dictionaries into one and print the result.

dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined_dict = dict1.copy()
combined_dict.update(dict2)
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [41]:
#30. Write a code to convert a list of strings into a set.

my_list = ["apple", "banana", "orange"]
my_set = set(my_list)
print(my_set)

{'banana', 'apple', 'orange'}